/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}



.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px; /* Add padding for spacing */
}

/* Adjust container for different screen sizes */
@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Horizontal layout for larger screens */
        justify-content: space-between;
        padding: 0; /* Remove padding */
        height: 100vh; /* Maintain the full height in larger screens */
    }

    /* Left and right panels proportions */
    .left-panel {
        width: 70%; /* 70% width for the left panel */
        height: 100%; /* Set left panel height to 100% of the container */
    }

    .right-panel {
        width: 30%; /* 30% width for the right panel */
        padding-left: 20px; /* Add spacing to the left of the right panel */
        height: 100%; /* Set right panel height to 100% of the container */
    }
}

/* Left and right panels */
.left-panel,
.right-panel {
    padding: 20px;
    border-radius: 5px;
}

.left-panel {
    height: auto; /* Sets left panel height */
}

.right-panel {
    background-color: #f7f8f9; /* Background color of the right panel */
    border-left: 1px solid #e0e0e8;
    height: 1024px; /* Sets right panel height */
}

/* Media query for screen width below 768px */
@media (max-width: 767px) {
    .container {
        flex-direction: column; /* Stack the panels vertically */
        height: 100vh; /* Allow the height to adjust automatically */
    }

    /* Set full width for each panel */
    .left-panel,
    .right-panel {
        width: 100%; /* Panels should take up full width of the container */
        margin-bottom: 10px; /* Add margin between panels */
    }

    .right-panel {
        margin-top: 20px; /* Add margin to the top of the right panel for spacing */
    }
}

/* Existing media query for screen width below 500px */
@media (max-width: 500px) {
    /* Center the top element (h2) */
    .top-element {
        text-align: center; /* Center-align the text */
        width: 100%; /* Make the width of the h2 element full */
        /* Optional additional styling to improve visual appeal */
        font-size: 1.2rem; /* Increase font size for better readability */
        padding-bottom: 10px; /* Add bottom padding for spacing */
    }
}


/* #################################################################################################################### */
/* #################################################################################################################### */
/* #################################################################################################################### */
/* #################################################################################################################### */
/* Styling elements within the left panel */

.payment-container {
    margin-top: 4%; /* Top margin of 20% */
    margin-left: 9%; /* Left margin of 20% */
    margin-right: 47%; /* Right margin of 60% */
}



.margin-top-class-payment-method {
    margin-top: 8vh;
}

.margin-top-class-payment-type {
    margin-top: 3vh;
}


.color-payment {
    color: #494951;
}

.payment-option input[type="radio"] {
    display: none;
}

.payment-method {
    display: flex; /* Set the display property to flex */
    flex-direction: row; /* Arrange the items vertically */
    width: 100%;
    gap: 10px; /* Set the gap between the labels */
}


/* New class to handle flex container for span elements */
.payment-flex {
    display: flex; /* Set as flex container */
    gap: 10px; /* Gap between elements */
    align-items: center; /* Align elements center */
}


/* Ensure each payment-option element stretches to fill the available space */
.payment-option {
    display: flex;
    flex: 1; /* Allow each payment-option element to take up equal space */
    align-items: center;
    justify-content: center; /* Center the content in each payment-option */
    border: 2px solid #dedee3; /* Border for payment option */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding around option */
    cursor: pointer; /* Pointer cursor on hover */
    margin-bottom: 10px; /* Bottom margin between options */
}

/* Inner box styles */
.option-box {
    display: block; /* Allows the inner box to fill the label */
    padding: 7px 10px; /* Padding inside the inner box */
    background-color: #dedee3; /* Background color of inner box */
    text-align: center; /* Center text */
    margin-left: auto; /* Align inner box to the right */
}

/* Focus styles */
.payment-option:focus-within, 
.payment-option:hover {
    border-color: #3b5ef6; /* Color change when focused or hovered */
}


/* ########################## */


.margin-top-class-card {
    margin-top: 2vh;
}

/* Input styling for card information */
.payment-info input {
    border: 2px solid #dedee3; /* Use the same border as payment-option */
    border-radius: 5px; /* Use the same border radius as payment-option */
    padding: 10px; /* Add padding around the input for consistent styling */
    width: 100%; /* Make the input take up the full width of its container */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    margin-bottom: 10px; /* Add margin-bottom to separate inputs */
    height: 40px; /* Set the desired height for the input box */
}


.payment-info label {
    display: block;
    margin-bottom: 5px;
}

.card-info {
    display: flex;
    justify-content: space-between;
}

.expiration-date,
.cvv {
    width: 48%;
}

.expiration-date input,
.cvv input {
    width: 100%;
}

/* ########################### */

.margin-top-class-terms {
    margin-top: 5vh;
}

.margin-top-class-button {
    margin-top: 8vh;
}

/* Style for the bold links */
.bold-link {
    font-weight: bold; /* Make the text bold */
    color: #282832; /* Set the color of the anchor tags */
    text-decoration: underline; /* Add underline */
    text-decoration-color: #b0b0b6; /* Change underline color to #b0b0b6 */
}

/* Reduce the font size of the paragraph */
.margin-top-class-terms {
    font-size: 0.8rem; /* Decrease the font size */
}

.book-ride-button {
    background-color: #3b5ef6;
    color: white;
    padding: 10px 20px; /* Reduced padding */
    font-size: 1rem; /* Adjusted font size */
    border: none;
    border-radius: 5px; /* Adjust border radius as needed */
    cursor: pointer;
    text-align: center;
    display: block; /* Ensure the button is a block element */
    width: 50%; /* Set width to 100% */
    height: auto; /* Remove fixed height */
    white-space: nowrap; /* Ensure the text doesn't wrap */
}

/* Media query for screen width below 767px */
@media (max-width: 767px) {
    /* Adjust the styles for smaller screens */
    .payment-container {
        margin-top: 10px; /* Adjust top margin */
        margin-left: auto; /* Reset left margin */
        margin-right: auto; /* Reset right margin */
        display: flex; /* Use flexbox layout */
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center align the elements */
        justify-content: center; /* Center content */
        width: 100%; /* Take up the full width of the container */
    }

        /* Adjust the styles for smaller screens */
    .payment-method {
        flex-direction: row; /* Keep the items in a row */
        flex-wrap: wrap; /* Enable flex items to wrap onto the next line */
        width: 100%; /* Allow the payment options to take up the full width */
        justify-content: center; /* Center align the payment options */
    }


    /* Adjust input widths for card information */
    .payment-info input {
        width: 100%; /* Reduce width for smaller screens */
    }

    /* Align payment option text */
    .payment-flex {
        justify-content: center; /* Center align the text within options */
    }

    /* Adjust book ride button for smaller screens */
    .book-ride-button {
        width: 50%; /* Reduce button width for smaller screens */
    }
}



@media (max-width: 480px) {
    .book-ride-button {
        width: 100%; /* Maintain width at 100% for smaller screens */
        padding: 10px 15px; /* Adjust padding for smaller screens */
        font-size: 1rem; /* Maintain font size */
        white-space: nowrap; /* Ensure text remains on one line */
    }
}


/* #################################################################################################################### */
/* #################################################################################################################### */
/* #################################################################################################################### */
/* #################################################################################################################### */
/* ############# */

.right-panel-container {
    margin-top: 12%; /* Top margin of 20% */
    margin-left: 9%; /* Left margin of 20% */
    margin-right: 5%; /* Right margin of 60% */
}

/* ######### */


.margin-top-class-time {
    margin-top: 2vh;
}

/* ######### */

/* Style for the location container */
.location-container {
    display: flex; /* Display elements in a row */
    align-items: baseline; /* Centrally align the icon and paragraph */
    gap: 0.5rem; /* Set a gap between the icon and the paragraph */
    color: #73757c; /* Set the color for both the icon and the paragraph */
}

/* Style for the paragraph element */
.margin-top-class-location {
    font-size: 0.9rem; /* Adjust the font size as needed */
    color: inherit; /* Inherit color from the parent container */
    margin-top: 2vh; /* Top margin for the paragraph */
}


/* ######### */



.timeline-container {
    margin-top: 5vh;
}

/* Style for the timeline container */
.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Style for each timeline item */
.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 1px; /* Margin between each item */
}
/* Style for the address with ellipsis */
.address {
    max-width: inherit; /* Set the maximum width the text can occupy, adjust as needed */
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Hides any overflowing text */
    text-overflow: ellipsis; /* Adds ellipsis when text overflows */
}

/* Style for the timeline marker */
.timeline-marker {
    margin-right: 20px; /* Space between marker and text */
    font-weight: bold; /* Bold for the marker */
    color: #282832; /* Color of the marker */
}


/* Adjust the font size of the second timeline-item */
.timeline-container .timeline-item:nth-child(2) {
    font-size: 0.8rem; /* Adjust the font size as needed */
    color: red; /* Keep the text color red */
}

/* If the .timeline-marker has a separate class, set its size here */
.timeline-container .timeline-item:nth-child(2) .timeline-marker {
    font-size: 0.8rem; /* Adjust the font size as needed */
    color: red; /* Keep the color of the marker red */
}
/* Styling for the Dropoff span color */
.timeline-container .timeline-item p span {
    color: #3d3d40; /* Set the color to #a1a1aa */
}

/* Optional: Style for the text */
.timeline-item p {
    margin: 0; /* Remove default margin */
}

/* Style for the dotted line */
.dotted-line {
    border-left: 2px dashed #161d3d; /* Set a dashed line */
    height: 100%; /* Fill the height of the container */
    margin: 0 10px; /* Add margin for spacing */
}

/* Style for the dotted line */
.dotted-line {
    border-left: 1px dashed #1e1f20; /* Dotted line with 1px thickness and light gray color */
    height: 50px; /* Adjust height as needed */
    margin-left: 7px; /* Add margin to the left to position the line */
    margin-bottom: 3px; /* Add margin to the bottom for space between the line and the next item */
    margin-right: 10px; /* Add margin to the right for space between the line and the next item */
}

/* Adjust height to match timeline container */
.timeline-container .dotted-line {
    height: 12px; /* Adjust height as needed */
}
/* CSS style for the smaller red timeline item */
.smaller-red-item {
    color: red; /* Make the text color red */
    font-size: 0.8rem; /* Reduce the font size, adjust as needed */
}

/* Optionally style the timeline marker within the smaller red item */
.smaller-red-item .timeline-marker {
    color: red; /* Make the marker color red */
}

/* ################## */

.margin-top-class-money {
    margin-top: 5vh;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
}

/* Style for the small seat text */
.seat-text {
    color: #73757c;
    font-size: 0.9em;
}

/* ################## */




/* Style for the line */
.line {
    background-color: #e0e0e8;
    height: 1px; /* Adjust the height as desired */
    width: 100%; /* Adjust the width as desired */
}

/* Class for margin top of 8vh */
.margin-top-line {
    margin-top: 8vh;
}
/* ############ */

/* Style each row with display: flex */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px; /* Optional: Add space between rows */
}

/* Style the quantity selector as a box with borders */
.box-border {
    border: 1px solid black; /* Adjust the border style and color as desired */
    padding: 2px 10px; /* Adjust padding as desired */
    border-radius: 3px; /* Optional: add border-radius for rounded corners */
    display: inline-block; /* Ensure the span is displayed as an inline-block */
}

/* Style for the seats text */
.seats-text {
    color: black; /* Color is black */
}

/* Style for the subtotal text */
.subtotal-text {
    color: #73757c; /* Use a light gray color */
}

/* Style for the VAT text */
.vat-text {
    color: #b0b0b0; /* Use a lighter gray color than subtotal */
}

/* ######### */

/* Style for the total text */
.total-text {
    color: black; /* Black color for "Total" */
    font-weight: normal; /* Regular font weight for "Total" */
}

/* Style for the amount */
.amount-text {
    font-weight: bold; /* Bold font weight for the amount */
}

/* Style for the flex container */
.flex-row {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Space between elements */
    align-items: center; /* Vertically center the elements */
}
.margin-top-class-total {
    margin-top: 2vh;
}




/* ################################################################################# */
/* ################################################################################# */
/* ################################################################################# */
/* ################################################################################# */




/* Style for the notification container */
.notification-container {
    display: none; /* Initially hidden */
    position: fixed; /* Positioning */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for blur effect */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    z-index: 1000; /* Ensure it's on top */
}
/* Style for the notification content */
.notification-content {
    background-color: #fff; /* White background */
    padding: 20px; /* Padding */
    border-radius: 8px; /* Rounded corners */
    text-align: center; /* Center-align text */
    width: 80%; /* Adjust the width as desired */
    max-width: 500px;
    max-height: 80%; /* Allow max height to adjust with content */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Align items in column direction */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    position: relative; /* To position close button relative to this container */
}

/* Style for the inner notification content */
.notification-inner-content {
    width: 80%; /* Set the width to half of the parent container */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Align items in column direction */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

/* Increase the font size of the 'Successfully Booked' <p> element */
.notification-inner-content p:first-of-type {
    font-size: 1.5rem; /* Adjust the font size as desired */
    font-weight: bold; /* Make the text bold */
}
/* Style for the close button */
.close-button {
    position: absolute; /* Positioning relative to the notification content */
    top: 10px; /* 10px from the top */
    right: 10px; /* 10px from the right */
    background: none; /* No background */
    border: none; /* No border */
    font-size: 24px; /* Font size for the cross mark */
    cursor: pointer; /* Pointer cursor */
    color: #000; /* Color of the cross mark */
}
/* Style for the car SVG */
.car-svg {
    margin-bottom: 20px; /* Margin below the SVG image */
}

/* Style for the notification message */
.notification-content p {
    margin-top: 20px; /* Margin at the top */
    font-size: 1.1rem; /* Adjust the font size */
}

.notification-content a {
    font-weight: bold; /* Link color */
    color: black;
    text-decoration: none; /* Underline links */
}